<div class="container">
    <div id="displaywatchesdiv" class="row displaydiv"></div>
</div>


<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/app.js"></script>

<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/app.css" />